In [0]:
import numpy as np
import pandas as pd
from scipy import stats

data = pd.read_csv("https://gist.githubusercontent.com/cscheffler/482412b75d7b7c8ab83dd86e81d71403/raw/9ed65a9d2bb8455e4b225400f57f2d77f851aec9/socialmobility.csv")

In [0]:
data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [0]:
"""data['p']= data['count']/data['count'].sum()
data"""

"data['p']= data['count']/data['count'].sum()\ndata"

In [0]:
prior_alpha = [1 for _ in range(len(data))]
prior = stats.dirichlet(prior_alpha)

posterior_alpha = [sum(x) for x in zip(prior_alpha, data["count"])]
posterior_alpha

[704,
 1479,
 1431,
 1110,
 59,
 1757,
 1631,
 1569,
 64,
 1454,
 2069,
 2484,
 62,
 750,
 1184,
 3316]

In [0]:
samples = stats.dirichlet.rvs(alpha=posterior_alpha,size=1000)

father_unskilled_son_skilled = [samples[i][6] for i in range(1000)]
marginal = [sum(samples[i][4:8]) for i in range(1000)]

prob = np.divide(father_unskilled_son_skilled,marginal)

interval = np.percentile(np.array(prob),[2.5,97.5])
interval

array([0.31151119, 0.33766943])

In [0]:
father_farm_son_prof = [samples[i][3] for i in range(1000)]
marginal2 = [sum(samples[i][0:4]) for i in range(1000)]

prob2 = np.divide(father_farm_son_prof,marginal2)

interval2 = np.percentile(np.array(prob2),[2.5,97.5])
interval2

array([0.2224749 , 0.24703683])